@use '../abstracts/' as *;

:root {
  color-scheme: light dark;
}

body {
  margin: 0;
  min-height: 100dvh;
  text-rendering: optimizeSpeed;
  line-height: 25px;
  font-family: $ff-primary;
  font-weight: $fw-400;
  font-size: fs(400);
  background-color: var(--main-bg);
  color: var(--text-clr);

  display: grid;
  align-items: center;
}

// body > * {
//   outline: 2px solid yellow;
//   width: 100%;
//   height: 100dvh;

//   @include mq(large) {
//     & > * {
//       height: inherit;
//       display: flex;
//       align-items: center;
//     }
//   }
// }
