$sizes: (
  4: 0.25rem,
  8: 0.5rem,
  12: 0.75rem,
  16: 1rem,
  20: 1.25rem,
  24: 1.5rem,
  32: 2rem,
  36: 2.25rem,
  48: 3rem,
);

$padding-hero: clamp(15rem, 15vh, 20rem);
$padding-section: clamp(5rem, 10vh, 7rem);

$card-padding: clamp(1.5rem, 1.5rem + 3vw, 2.95rem);
$card-base-width: 19rem;

$profile-pic-min-size: 4.375rem;
$profile-pic-max-size: 7.3125rem;

$grid-gap: 1.5rem;
$flex-group-gap: 1rem;

$container-max-width: 45.625rem;
$container-max-width-small: 30rem;
$container-max-width-large: 60rem;
$container-max-width-full-bleed: 100%;
