$themes: (
  light: (
    main-bg: #f6f8ff,
    text-clr: #4b6a9b,
    text-input-clr: #222731,
    text-accent-clr: #2b3442,
    date-clr: #697c9a,
    toggle-clr: #697c9a,
    toggle-hover-clr: #222731,
    accent-clr: #0079ff,
    error-clr: #f74646,
    search-bg: #fff,
    search-btn-bg: #0079ff,
    search-btn-hover-bg: #60abff,
    search-btn-text: #fff,
    suggestion-bg: #0079ff33,
    stats-card-bg: #f6f8ff,
    profile-card-bg: #fff,
    scrollbar-thumb-clr: #0079ff,
    scrollbar-track-clr: #f6f8ff,
    select-btn-bg: #0079ff,
    select-btn-bg-hover: #60abff,
    select-menu-br: #0079ff,
    select-menu-br-focus: #60abff,
    dropdown-arrow: #fff,
    tab-button-clr: #0079ff,
    tab-button-hover: rgba(#0079ff, 0.2),
    tab-button-text: #fff,
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.1986),
    skeleton-primary-clr: rgba(215, 220, 241),
    skeleton-gradient-clr: (
      255,
      255,
      255,
    ),
  ),
  dark: (
    main-bg: #141d2f,
    text-clr: #fff,
    text-input-clr: #fff,
    text-accent-clr: #fff,
    date-clr: #fff,
    toggle-clr: #fff,
    toggle-hover-clr: #90a4d4,
    accent-clr: #0079ff,
    error-clr: #f74646,
    search-bg: #1e2a47,
    search-btn-bg: #0079ff,
    search-btn-hover-bg: #60abff,
    search-btn-text: #fff,
    suggestion-bg: #0079ff33,
    stats-card-bg: #141d2f,
    profile-card-bg: #1e2a47,
    scrollbar-thumb-clr: #0079ff,
    scrollbar-track-clr: #141d2f,
    select-btn-bg: #0079ff,
    select-btn-bg-hover: #60abff,
    select-menu-br: #0079ff,
    select-menu-br-focus: #60abff,
    dropdown-arrow: #fff,
    tab-button-clr: #0079ff,
    tab-button-hover: rgba(#0079ff, 0.2),
    tab-button-text: #fff,
    box-shadow: none,
    skeleton-primary-clr: rgba(182, 189, 211),
    skeleton-gradient-clr: (
      100,
      113,
      143,
    ),
  ),
);
