@font-face {
  font-family: 'Space Mono';
  font-weight: 400;
  src: url('/src/assets/fonts/spacemono-regular-webfont.woff2') format('woff2'),
    url('/src/assets/fonts/spacemono-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Space Mono';
  font-weight: 700;
  src: url('/src/assets/fonts/spacemono-bold-webfont.woff2') format('woff2'),
    url('/src/assets/fonts/spacemono-bold-webfont.woff') format('woff');
}

$ff-primary: 'Space Mono', monospace;

$font-sizes: (
  1000: 1.625rem,
  900: clamp(1rem, 0.5rem + 2vw, 1.625rem) /* 16-26px */,
  800: clamp(1rem, 0.25rem + 2vw, 1.375rem) /* 16-22, counter numbers*/,
  700: clamp(0.8125rem, 0.25rem + 0.75vw, 1.125rem)
    /* 13-18, search placeholder */,
  600: clamp(0.875rem, 0.25rem + 1vw, 1rem) /* button */,
  500: clamp(0.8125rem, 0.25rem + 1vw, 1rem) /* 13-16, atoctocat  */,
  400: clamp(0.8125rem, 0.25rem + 1vw, 0.9375rem) /* 13-15, links, body */,
  300: 0.8125rem /* toggle */,
  200: clamp(0.6875rem, 0.25rem + 1vw, 0.8125rem) /* 11-13 counters */,
);

$fw-400: 400;
$fw-700: 700;
