@use '../abstracts/' as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-align: center;
  background: none;
  border: none;
  cursor: pointer;
}

.toggle-button {
  gap: 1.25em;
  color: var(--toggle-clr);
  font-size: fs(300);
  font-weight: $fw-700;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  &:hover {
    color: var(--toggle-hover-clr);
  }

  &:focus-visible {
    color: var(--toggle-hover-clr);
    outline-color: var(--toggle-hover-clr);
    outline-width: 2px;
    outline-style: dotted;
    outline-offset: 0.5em;
  }
  &:hover svg path,
  &:focus-visible svg path {
    fill: var(--toggle-hover-clr);
  }
}

.search-button {
  font-weight: $fw-700;
  border-radius: 10px;
  padding-block: 1.1125em;
  padding-inline: var(--padding-inline);
  background-color: var(--search-btn-bg);
  color: var(--search-btn-text);
  position: relative;
  isolation: isolate;
  @include fluid-clamp($button-padding, true, padding-inline);

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    display: block;
    background-color: var(--search-btn-hover-bg);
    color: var(--search-btn-text);
    border-radius: inherit;
    z-index: -1;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
  }

  &:focus {
    outline-width: 2px;
    outline-style: dotted;
    outline-color: var(--accent-clr);
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:hover::before,
  &:focus::before {
    opacity: 1;
  }
}

.loading-btn {
  font-weight: $fw-700;
  padding-block: 0.75em;
  padding-inline: 1em;

  gap: 0.75em;
  align-items: center;
  color: var(--text-clr);
}

.button-container {
  border: 2px solid var(--accent-clr);
  overflow: hidden;

  display: grid;
  grid-auto-flow: column;

  & > * {
    padding-block: 1em;
    padding-inline: 2em;

    font-weight: $fw-700;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    color: var(--accent-clr);
    position: relative;
  }

  & > *::before,
  & > *::after {
    content: '';
    position: absolute;
    inset: 0;

    opacity: 0;
    transition: opacity 300ms;
    z-index: -1;
  }

  & > *::before {
    background-color: var(--tab-button-hover);
  }

  & > *::after {
    background-color: var(--tab-button-clr);
  }

  & > *:hover::before {
    opacity: 1;
  }
}

.active {
  color: var(--tab-button-text);

  &::after {
    opacity: 1;
  }
}
