@use '../abstracts/' as *;

.profile-card {
  display: grid;
  grid-template-columns: minmax($profile-pic-min-size, min-content) 1fr;
  grid-auto-flow: dense;
  gap: 0 clamp(1.2rem, 1.2rem + 5vw, 2.6rem);

  &__img {
    grid-column: 1;
    grid-row: 1 / 4;
    align-content: end;
  }

  &__bio {
    grid-column: 1 / span 2;
    margin-block-start: 1.25rem;
  }

  & > *:where(:not(&__img, &__bio)) {
    grid-column: 2;
  }

  @include mq(medium) {
    grid-template-columns: minmax($profile-pic-max-size, min-content) 1fr;
  }

  @include mq(large) {
    grid-template-columns: $profile-pic-max-size repeat(2, 1fr);
    &__img {
      align-content: start;
    }

    &__date {
      grid-row: 1;
      grid-column: 3;
      justify-self: end;
      align-self: end;
    }

    &__bio {
      grid-column: 2 / span 2;
    }
  }

  &__title {
    align-self: end;
    color: var(--text-accent-clr);
  }

  &__name {
    align-self: center;
    color: var(--accent-clr);
  }

  &__date {
    color: var(--date-clr);
  }
}
