@use '../abstracts/' as *;

.search-bar {
  display: grid;
  grid-template-columns: min-content 1fr 0fr min-content;
  grid-template-rows: auto 0fr 0fr;

  padding-block: 0.6em;
  padding-inline: 1rem 0.6em;
  background-color: var(--search-bg);
  box-shadow: var(--box-shadow);
  will-change: grid-template-rows;
  transition: grid-template-rows 500ms ease-in-out;

  &:has(input:focus-visible) {
    outline-width: 3px;
    outline-style: dotted;
    outline-color: var(--accent-clr);
  }

  &:has(ul:not(:empty)) {
    grid-template-rows: auto 1em 7rem;
  }

  &:not(:has(input:focus-visible)) {
    grid-template-rows: auto 0fr 0fr;
  }

  .icon {
    align-self: center;
    display: grid;
    width: 25px;
  }

  input {
    width: 100%;
    max-width: 100%;
    background: none;
    border: none;
    padding-inline-start: 8px;
    font-size: fs(700);
    color: var(--text-input-clr);
    caret-color: var(--accent-clr);
    &::placeholder {
      color: var(--text-clr);
      opacity: 1;
    }

    &:focus {
      outline: none;
    }
  }

  .info {
    width: fit-content;
    margin-inline: 1.25em;
    align-self: center;
    font-weight: $fw-700;
    color: var(--error-clr);
  }

  &.error {
    grid-template-columns: min-content 1fr minmax(auto, max-content) min-content;
  }

  .suggestion-list-wrapper {
    grid-column: 1 / -1;
    grid-row: 3;
  }
}
