@use '../abstracts/' as *;

.user-links {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1.1875em 0.8125em;

  @include mq(medium) {
    grid-template-columns:
      auto 0.8125em minmax(0, 1fr) clamp(1.1875em, 1.1875em + 4vw, 2.75em)
      auto 0.8125em minmax(0, 1fr);
    gap: 1.1875em 0;

    dd:nth-of-type(1) {
      grid-column: 1;
      grid-row: 1;
    }

    dt:nth-of-type(1) {
      grid-column: 3;
      grid-row: 1;
    }

    dd:nth-of-type(2) {
      grid-column: 1;
      grid-row: 2;
    }

    dt:nth-of-type(2) {
      grid-column: 3;
      grid-row: 2;
    }

    dd:nth-of-type(3) {
      grid-column: 5;
      grid-row: 1;
    }

    dt:nth-of-type(3) {
      grid-column: 7;
      grid-row: 1;
    }

    dd:nth-of-type(4) {
      grid-column: 5;
      grid-row: 2;
    }

    dt:nth-of-type(4) {
      grid-column: 7;
      grid-row: 2;
    }
  }

  svg path {
    fill: var(--text-clr);
  }

  a {
    display: block;
    text-decoration: none;
    color: currentColor;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
