@use '../abstracts/' as *;

.user-card {
  background-color: var(--profile-card-bg);
  box-shadow: var(--box-shadow);
  padding: var(--padding);
  @include fluid-clamp(
    $card-padding,
    $skip-second-range: false,
    $property: padding
  );
  @include mq(23.4em, max-width) {
    padding: 1rem;
  }
  &__overview {
    display: grid;
    grid-template-columns: 1fr;
    gap: $card-gap 0;

    .no-info,
    .no-info svg path {
      opacity: 0.5;
    }

    @include mq(large) {
      grid-template-columns: 7.3125rem 1fr;
      gap: $card-gap clamp(1.2rem, 1rem + 3vw, 2.6rem);

      &__header {
        grid-column: 1 / -1;
      }

      & > *:not(&__header) {
        grid-column: 2;
      }
    }
  }
  &__overview,
  &__repos,
  &__empty {
    block-size: var(--card-content-height);
  }
  &__repos {
    overflow-y: auto;
    padding-inline-end: 1rem;

    display: grid;
    grid-auto-flow: row;
    gap: $card-gap;

    h3 {
      font-size: fs(800);
      font-weight: $fw-700;
      color: var(--text-accent-clr);
    }
  }

  &__empty {
    display: grid;
    place-content: center;
  }
}
